  <div class="card mb-3 p-2">
    <div>
        <div class="d-flex">
            <span>
            <a href="{% url 'toggle_status' bug.id %}" class="text-muted text-decoration-none">
                {% if not bug.status %}
                <i class="far fa-square"></i>
                {% else %}
                <i class="far fa-check-square text-success"></i>
                {% endif %}
            </a>
            <form method="POST" action="{% url 'edit_bug_name' bug.id %}" class="d-inline">
                {% csrf_token %}
                <input class="d-inline border-0 fw-bold" id="name" name="name" value="{{ bug.name }}">
            </form>
            </span>
                <span class="ms-auto ">
                {% if bug.urgency < 3 %}
                    <a href="{% url 'update_urgency' bug.id 'inc' %}" class="text-decoration-none">
                    <i class="d-none d-md-inline fas fa-arrow-left text-muted fa-xs"></i>
                    <i class="d-md-none fas fa-arrow-up text-muted fa-xs"></i>
                </a>
                {% endif %}
                {% if bug.urgency > 1  %}
                <a href="{% url 'update_urgency' bug.id 'dec' %}" class="text-decoration-none">
                    <i class="d-none d-md-inline fas fa-arrow-right text-muted fa-xs"></i>
                    <i class="d-md-none fas fa-arrow-down text-muted fa-xs"></i>
                </a>
                {% endif %}
            </span>
        </div>
        <p class="mb-0"><small>{{ bug.assigned_to }}</small></p>
        <p><small>Created: {{ bug.date_added }}</small></p>
            <form method="POST" action="{% url 'edit_bug_description' bug.id %}">
                {% csrf_token %}
                <textarea class="w-100 card-input d-inline spaced-1 border p-1 my-1" id="description" name="description" rows="4">{{bug.description}}</textarea>
                <button type="submit" class="btn btn-sm btn-dark"><i class="fas fa-check me-2"></i><small>update</small></button>
                <a href="{% url 'delete_bug' bug.id %}" class="btn btn-sm btn-dark"><i class="fas fa-trash me-1"></i> <small>delete</small></a>
            </form>
    </div>
</div>