{% extends "base.html" %}
{% block extra_title %} Bugs | {% endblock %}
{% block content %}
<!-- Report A Bug Modal -->
<div class="modal fade" id="reportBugModal" tabindex="-1" aria-labelledby="Modal to Report a New Bug" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h5 class="modal-title text-uppercase">Report a Bug</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <div class="mb-3">
                    <label class="form-label d-block" for="{{ add_bug_form.name.id_for_label }}">Describe bug in a few words:</label>
                    {{ add_bug_form.name }}
                </div>
                <div class="mb-3">
                    <label class="form-label d-block" for="{{ add_bug_form.description.id_for_label }}">Provide some detail on what's going wrong:</label>
                    {{ add_bug_form.description }}
                </div>
                <div class="mb-5">
                    <label class="form-label d-block mb-3" for="{{ add_bug_form.urgency.id_for_label }}">How critical is it to fix this bug:</label>
                    <div class="text-center pt-3">
                        <div class="row">
                            <div class="col-4">
                                <input class="d-none" type="radio" id="id_urgency_1" name="urgency" value="1">
                                <label for="id_urgency_1" class="mx-3" data-toggle="tooltip" data-placement="right" title="This bug is annoying but does not affect business">
                                    <i class="fas fa-bug text-muted fa-3x d-inline urgency-bug-icon" id="annoyingBug"></i>
                                    <span class="d-block mt-2"><small>Just Annoying</small></span>
                                </label>
                            </div>
                            <div class="col-4">
                                <input class="d-none" type="radio" id="id_urgency_2" name="urgency" value="2">
                                <label for="id_urgency_2" class="mx-3" data-toggle="tooltip" data-placement="right" title="This bug affects business as usual but there's a workaround">
                                    <i class="fas fa-bug text-muted fa-3x d-inline urgency-bug-icon" id="importantBug"></i>
                                    <span class="d-block mt-2"><small>Slows BAU</small></span>
                                </label>
                            </div>
                            <div class="col-4">
                                <input class="d-none" type="radio" id="id_urgency_3" name="urgency" value="3">
                                <label for="id_urgency_3" class="mx-3" data-toggle="tooltip" data-placement="right" title="If this bug is not fixed business as usual is impossible" >
                                    <i class="fas fa-bug text-muted fa-3x d-inline urgency-bug-icon" id="urgentBug"></i>
                                    <span class="d-block mt-2"><small>Prevents BAU</small></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="w-75 btn btn-dark text-uppercase text-white" type="submit">Report!</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid pt-4">
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="bg-dark p-3 mb-3">
                        <div class="d-flex text-white">
                            <h4 class="lead mb-3"><b>Urgent</b></h4>
                            <button class="ms-auto btn-dark btn"><i class="fas fa-minus"></i></button>
                        </div>
                        {% for bug in urgent_bugs %}
                            <div class="card mb-2 p-2">
                                <div>
                                    <div class="d-flex">
                                        <span>
                                        <a href="{% url 'toggle_status' bug.id %}" class="text-muted text-decoration-none">
                                            {% if not bug.status %}
                                            <i class="far fa-square"></i>
                                            {% else %}
                                            <i class="far fa-check-square"></i>
                                            {% endif %}
                                        </a>
                                        <h6 class="d-inline">{{ bug.name }}</h6>
                                        </span>
                                         <span class="ms-auto ">
                                            <a href="{% url 'update_urgency' bug.id 'dec' %}" class="text-decoration-none">
                                                <i class="d-none d-md-inline fas fa-arrow-right text-muted fa-xs"></i>
                                                <i class="d-md-none fas fa-arrow-down text-muted fa-xs"></i>
                                            </a>
                                        </span>
                                    </div>
                                    <p class="mb-0"><small>{{ bug.assigned_to }}</small></p>
                                    <p class="border p-1 my-1"><small>{{ bug.description }}</small></p>
                                    <!--<a href="{% url 'delete_bug' bug.id %}" class="ms-auto text-muted"><i class="fas fa-trash"></i></a>-->
                                </div>
                            </div>
                        {% endfor %}
                        <button type="button" class="btn btn-dark ps-0 report-bug-mtrigger" id="urgent-bug-mtrigger" data-bs-toggle="modal" data-bs-target="#reportBugModal">
                            Report urgent bug..
                        </button>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="bg-dark p-3 mb-3">
                        <div class="d-flex text-white">
                            <h4 class="lead mb-3"><b>Important</b></h4>
                            <button class="ms-auto btn-dark btn"><i class="fas fa-minus"></i></button>
                        </div>
                        {% for bug in important_bugs %}
                            <div class="card mb-2 p-2">
                                <div>
                                    <div class="d-flex">
                                        <span>
                                        <a href="{% url 'toggle_status' bug.id %}" class="text-muted text-decoration-none">
                                            {% if not bug.status %}
                                            <i class="far fa-square"></i>
                                            {% else %}
                                            <i class="far fa-check-square"></i>
                                            {% endif %}
                                        </a>
                                        <h6 class="d-inline">{{ bug.name }}</h6>
                                        </span>
                                        <span class="ms-auto">
                                            <a href="{% url 'update_urgency' bug.id 'inc' %}" class="text-decoration-none">
                                                <i class="d-none d-md-inline fas fa-arrow-left text-muted fa-xs"></i>
                                                <i class="d-md-none fas fa-arrow-up text-muted fa-xs"></i>
                                            </a>
                                            <a href="{% url 'update_urgency' bug.id 'dec' %}" class="text-decoration-none">
                                                <i class="d-none d-md-inline fas fa-arrow-right text-muted fa-xs"></i>
                                                <i class="d-md-none fas fa-arrow-down text-muted fa-xs"></i>
                                            </a>
                                        </span>
                                    </div>
                                    <p class="mb-0"><small>{{ bug.assigned_to }}</small></p>
                                    <p class="border p-1 my-1"><small>{{ bug.description }}</small></p>
                                    <!--<a href="{% url 'delete_bug' bug.id %}" class="ms-auto text-muted"><i class="fas fa-trash"></i></a>-->
                                </div>
                            </div>
                        {% endfor %}
                        <button type="button" class="btn btn-dark ps-0 report-bug-mtrigger" id="important-bug-mtrigger" data-bs-toggle="modal" data-bs-target="#reportBugModal">
                            Report important bug..
                        </button>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="bg-dark p-3 mb-3">
                        <div class="d-flex text-white">
                            <h4 class="lead mb-3"><b>Annoying</b></h4>
                            <button class="ms-auto btn-dark btn"><i class="fas fa-minus"></i></button>
                        </div>
                        {% for bug in annoying_bugs %}
                            <div class="card mb-2 p-2">
                                <div>
                                   <div class="d-flex">
                                        <span>
                                        <a href="{% url 'toggle_status' bug.id %}" class="text-muted text-decoration-none">
                                            {% if not bug.status %}
                                            <i class="far fa-square"></i>
                                            {% else %}
                                            <i class="far fa-check-square"></i>
                                            {% endif %}
                                        </a>
                                        <h6 class="d-inline">{{ bug.name }}</h6>
                                        </span>
                                         <span class="ms-auto">
                                            <a href="{% url 'update_urgency' bug.id 'inc' %}" class="text-decoration-none">
                                                <i class="d-none d-md-inline fas fa-arrow-left text-muted fa-xs"></i>
                                                <i class="d-md-none fas fa-arrow-up text-muted fa-xs"></i>
                                            </a>
                                        </span>
                                    </div>
                                    <p class="mb-0"><small>{{ bug.assigned_to }}</small></p>
                                    <p class="border p-1 my-1"><small>{{ bug.description }}</small></p>
                                    <!--<a href="{% url 'delete_bug' bug.id %}" class="ms-auto text-muted"><i class="fas fa-trash"></i></a>-->
                                </div>
                            </div>
                        {% endfor %}
                        <button type="button" class="btn btn-dark ps-0 report-bug-mtrigger" id="annoying-bug-mtrigger" data-bs-toggle="modal" data-bs-target="#reportBugModal">
                            Report annoying bug..
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

